@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular2-toaster/toaster.css';

#toast-container {
  margin-top: 64px;
}

body {
  margin: 0;
}

@error-color: #f44336; // .mat-input-error.color
@success-color: #4caf50; // @angular / material / theming.scss / 500

.error-field-message() {
  font-size: 12px;
  color: @error-color;
}

.error-md-hint() {
  .ng-invalid {
    md-hint {
      .error-field-message();
    }
  }
}

.basicFont() {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link() {
  .basicFont();
  color: #337ab7;
  text-decoration: underline;
  &:hover {
    color: #23527c;
  }
}

.small-text() {
  .basicFont();
  font-size: 14px;
}

.small-link() {
  .small-text();
  .link();
}
