@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular2-toaster/toaster.css';

#toast-container {
  margin-top: 64px;
}

body {
  margin: 0;
}

@error-color: #f44336; // .mat-input-error.color

.error-md-hint() {
  .ng-invalid {
    md-hint {
      color: @error-color;
    }
  }
}

.link() {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #337ab7;
  text-decoration: underline;
  &:hover {
    color: #23527c;
  }
}

.small-link() {
  font-size: 14px;
  .link();
}
