spring:
  datasource:
    url:  "${spring.datasource.url}"
    username:  "${spring.datasource.username}"
    password:  "${spring.datasource.password}"
    driver-class-name: "org.postgresql.Driver"
  data:
    jpa.repositories.enabled: true