<ng-container *userHasRoles="[UserRole.USER]">
  <nav md-tab-nav-bar>
    <a md-tab-link
       routerLink="/user-cabinet/settings"
       [active]="activeTab === 'settings'">
      {{ i18n.uiShared.USER_SETTINGS }}
    </a>
    <a md-tab-link
       routerLink="/user-cabinet/spaces"
       [active]="activeTab === 'spaces'">
      {{ i18n.uiShared.SPACES }}
    </a>
  </nav>
  <user-settings *ngIf="activeTab === 'settings'"></user-settings>
  <user-spaces *ngIf="activeTab === 'spaces'"></user-spaces>
</ng-container>
<ng-container *userHasAnyRole="[UserRole.ADMIN]">
  <user-settings></user-settings>
</ng-container>

