<form [formGroup]="recoveryPasswordForm" (ngSubmit)="recoveryPassword()" novalidate>
  <md-input-container>
    <input mdInput formControlName="email" placeholder="{{i18n.securityUser.EMAIL}}" (ngModelChange)="emailChanges()">
    <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('required')">
      {{i18n.securityUser.EMAIL__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('maxlength')">
      {{i18n.securityUser.EMAIL__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
    <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('email')">
      {{i18n.securityUser.EMAIL__INVALID}}
    </md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="password" placeholder="{{i18n.security.NEW_PASSWORD}}" type="password">
    <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('required')">
      {{i18n.securityUser.PASSWORD__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('minlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_SHORTER_THAN_4_CHARACTERS}}
    </md-hint>
    <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('maxlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="repeatPassword" placeholder="{{i18n.security.REPEAT_PASSWORD}}" type="password">
    <md-hint *ngIf="repeatPasswordFormControl.touched && repeatPasswordFormControl.hasError('repeatPassword')">
      {{i18n.securityUser.PASSWORD_CONFIRMATION__DO_NOT_MATCH}}
    </md-hint>
  </md-input-container>

  <div class="error-message" *ngIf="neverSignedUpEmail">
    <md-hint>{{i18n.security.USER_WITH_THIS_EMAIL_HAS_NEVER_BEEN_SIGNED_UP}}</md-hint>
  </div>
  <button type="submit" md-raised-button color="primary">{{i18n.security.RECOVERY_PASSWORD}}</button>
</form>
