<form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()" novalidate>
  <h2>{{i18n.security.CHANGE_PASSWORD}}</h2>
  <md-input-container>
    <input mdInput formControlName="currentPassword" placeholder="{{i18n.security.CURRENT_PASSWORD}}" type="password">
    <md-hint *ngIf="currentPasswordFormControl.touched && currentPasswordFormControl.hasError('required')">
      {{i18n.securityUser.PASSWORD__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="currentPasswordFormControl.touched && currentPasswordFormControl.hasError('minlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_SHORTER_THAN_4_CHARACTERS}}
    </md-hint>
    <md-hint *ngIf="currentPasswordFormControl.touched && currentPasswordFormControl.hasError('maxlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="newPassword" placeholder="{{i18n.security.NEW_PASSWORD}}" type="password">
    <md-hint *ngIf="newPasswordFormControl.touched && newPasswordFormControl.hasError('required')">
      {{i18n.securityUser.PASSWORD__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="newPasswordFormControl.touched && newPasswordFormControl.hasError('minlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_SHORTER_THAN_4_CHARACTERS}}
    </md-hint>
    <md-hint *ngIf="newPasswordFormControl.touched && newPasswordFormControl.hasError('maxlength')">
      {{i18n.securityUser.PASSWORD__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
  </md-input-container>
  <md-input-container>
    <input mdInput formControlName="repeatNewPassword" placeholder="{{i18n.security.REPEAT_NEW_PASSWORD}}" type="password">
    <md-hint *ngIf="repeatNewPasswordFormControl.touched && repeatNewPasswordFormControl.hasError('repeatPassword')">
      {{i18n.securityUser.PASSWORD_CONFIRMATION__DO_NOT_MATCH}}
    </md-hint>
  </md-input-container>
  <div class="message success" *ngIf="passwordChangeForm.untouched && successfulPasswordChange">
    <md-hint>{{this.i18n.security.PASSWORD_CHANGE_SUCCESS}}</md-hint>
  </div>
  <div class="message error" *ngIf="passwordChangeForm.untouched && wrongPassword">
    <md-hint>{{i18n.security.WRONG_PASSWORD}}</md-hint>
  </div>
  <button type="submit" md-raised-button color="primary">{{i18n.SAVE}}</button>
</form>
