<div class="component-container">
  <div class="center-container">
    <form [formGroup]="signInForm" (ngSubmit)="signIn()" novalidate>
      <md-input-container>
        <input mdInput formControlName="email" placeholder="{{i18n.entity.securityUser.EMAIL}}">
        <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('required')">
          {{i18n.errorMessages.securityUser.EMAIL__REQUIRED}}
        </md-hint>
        <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('maxlength')">
          {{i18n.errorMessages.securityUser.EMAIL__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
        </md-hint>
        <md-hint *ngIf="emailFormControl.touched && emailFormControl.hasError('email')">
          {{i18n.errorMessages.securityUser.EMAIL__INVALID}}
        </md-hint>
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="password" placeholder="{{i18n.entity.securityUser.PASSWORD}}" type="password">
        <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('required')">
          {{i18n.errorMessages.signInForm.PASSWORD_REQUIRED}}
        </md-hint>
        <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('minlength')">
          {{i18n.errorMessages.signInForm.PASSWORD_CAN_NOT_BE_SHORTER_THAN_4_CHARACTERS}}
        </md-hint>
        <md-hint *ngIf="passwordFormControl.touched && passwordFormControl.hasError('maxlength')">
          {{i18n.errorMessages.signInForm.PASSWORD_CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
        </md-hint>
      </md-input-container>
      <div class="error-message" *ngIf="wrongUsernamePassword">
        <md-hint>{{i18n.errorMessages.signInForm.INCORRECT_USERNAME_OR_PASSWORD}}</md-hint>
      </div>
      <button type="submit" md-raised-button color="primary">{{i18n.ui.SIGN_IN}}</button>
    </form>
    <div id="linksContainer">
      <a id="signUpLink" routerLink="/sign-up">{{i18n.ui.SIGN_UP}}</a>
      <a id="passwordRecoveryLink" routerLink="/password-recovery">{{i18n.ui.FORGOT_PASSWORD_QUESTION}}</a>
    </div>
  </div>
</div>
