<form [formGroup]="managementCompanyForm" (ngSubmit)="save()" novalidate>
  <md-input-container>
    <input mdInput formControlName="name" placeholder="{{i18n.entManagementCompany.NAME}}">
    <md-hint *ngIf="nameFormControl.touched && nameFormControl.hasError('required')">
      {{i18n.entManagementCompany.NAME__REQUIRED}}
    </md-hint>
  </md-input-container>
  <div class="towns-in-company">
    <span *ngFor="let town of managementCompanyForm.value.towns">{{town.name}}</span>
  </div>

  <button type="button" md-raised-button [mdMenuTriggerFor]="addOrRemoveTownMenu">
    {{i18n.uiAdmin.ADD_OR_REMOVE_TOWN}}
  </button>
  <md-menu #addOrRemoveTownMenu="mdMenu">
    <button md-menu-item *ngFor="let town of towns" (click)="addOrRemoveTown(town.id)">{{town.name}}</button>
  </md-menu>

  <button *ngIf="!originalManagementCompany.id" type="submit" md-raised-button color="primary">{{i18n.entManagementCompany.ADD_MANAGEMENT_COMPANY}}</button>
  <button *ngIf="originalManagementCompany.id" type="submit" md-raised-button color="primary"
          [disabled]="_.isEqual(managementCompanyForm.value, originalManagementCompany)">{{i18n.uiShared.SAVE}}</button>
  <button *ngIf="originalManagementCompany.id" type="button" md-raised-button color="warn" (click)="delete()">{{i18n.uiShared.DELETE}}</button>
</form>
