<form [formGroup]="spaceAddressForm" (ngSubmit)="save()" novalidate>

  <md-select formControlName="townId" placeholder="{{i18n.entTown.TOWN}}">
    <md-option *ngFor="let town of towns" [value]="town.id">{{town.name}}</md-option>
  </md-select>
  <md-hint class="town" *ngIf="townIdFormControl.touched && townIdFormControl.hasError('required')">
    {{i18n.entSpaceAddress.TOWN__REQUIRED}}
  </md-hint>

  <md-input-container>
    <input mdInput formControlName="address" placeholder="{{i18n.entSpaceAddress.ADDRESS}}">
    <md-hint *ngIf="addressFormControl.touched && addressFormControl.hasError('required')">
      {{i18n.entSpaceAddress.ADDRESS__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="addressFormControl.touched && addressFormControl.hasError('maxlength')">
      {{i18n.entSpaceAddress.ADDRESS__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
  </md-input-container>

  <button type="button" md-raised-button color="primary" (click)="addCountWithType(CountType.ELECTRICITY_DAY)">{{i18n.uiShared.ADD}}</button>

  <div formArrayName="counts">
    <md-card *ngFor="let countFormGroup of countsFormControl.controls; let i=index" [formGroupName]="i">

      <md-input-container>
        <input mdInput formControlName="name" placeholder="{{i18n.entCount.NAME}}">
        <md-hint *ngIf="countFormGroup.get('name').touched && countFormGroup.get('name').hasError('required')">
          {{i18n.entCount.NAME__REQUIRED}}
        </md-hint>
      </md-input-container>

      <md-select formControlName="type" placeholder="{{i18n.entCount.TYPE}}">
        <md-option *ngFor="let countType of countTypes" [value]="countType">
          {{i18n.entCount[countType]}}
        </md-option>
      </md-select>

    </md-card>
  </div>

  <button type="submit" md-raised-button color="primary">{{i18n.uiShared.SAVE}}</button>
</form>
