<form [formGroup]="spaceAddressForm" (ngSubmit)="signIn()" novalidate>

  <md-select formControlName="townId" placeholder="{{i18n.entTown.TOWN}}" (ngModelChange)="townChanges($event)">
    <md-option *ngFor="let town of towns" value="{{town.id}}">{{town.name}}</md-option>
  </md-select>

  <md-input-container>
    <input mdInput formControlName="address" placeholder="{{i18n.entSpaceAddress.ADDRESS}}">
    <md-hint *ngIf="addressFormControl.touched && addressFormControl.hasError('required')">
      {{i18n.entSpaceAddress.ADDRESS__REQUIRED}}
    </md-hint>
  </md-input-container>

  <button type="submit" md-raised-button color="primary">{{i18n.uiShared.SAVE}}</button>
</form>
