<form [formGroup]="spaceAddressForm" (ngSubmit)="save()" novalidate>

  <md-select formControlName="townId" placeholder="{{i18n.entTown.TOWN}}">
    <md-option *ngFor="let town of towns$ | async" [value]="town.id">{{town.name}}</md-option>
  </md-select>
  <md-hint class="town" *ngIf="townIdFormControl.touched && townIdFormControl.hasError('required')">
    {{i18n.entSpace.TOWN__REQUIRED}}
  </md-hint>

  <md-input-container>
    <input mdInput formControlName="address" placeholder="{{i18n.entSpace.ADDRESS}}">
    <md-hint *ngIf="addressFormControl.touched && addressFormControl.hasError('required')">
      {{i18n.entSpace.ADDRESS__REQUIRED}}
    </md-hint>
    <md-hint *ngIf="addressFormControl.touched && addressFormControl.hasError('maxlength')">
      {{i18n.entSpace.ADDRESS__CAN_NOT_BE_LONGER_THAN_1000_CHARACTERS}}
    </md-hint>
  </md-input-container>

  <button type="button" md-raised-button color="primary" (click)="addCountPointWithType(ResourceType.ELECTRICITY_DAY)">{{i18n.uiShared.ADD}}</button>

  <div formArrayName="countPoints">
    <md-card *ngFor="let countPointFormGroup of countPointsFormControl.controls; let i=index" [formGroupName]="i">

      <md-input-container>
        <input mdInput formControlName="name" placeholder="{{i18n.entCountPoint.NAME}}">
        <md-hint *ngIf="countPointFormGroup.get('name').touched && countPointFormGroup.get('name').hasError('required')">
          {{i18n.entCountPoint.NAME__REQUIRED}}
        </md-hint>
      </md-input-container>

      <md-select formControlName="type" placeholder="{{i18n.entCountPoint.TYPE}}">
        <md-option *ngFor="let resourceType of resourceTypes" [value]="resourceType">
          {{i18n.entCountPoint[resourceType]}}
        </md-option>
      </md-select>

      <md-select formControlName="billingCompanyId" placeholder="{{i18n.entBillingCompany.BILLING_COMPANY}}">
        <md-option *ngFor="let billingCompany of billingCompanies$ | async" [value]="billingCompany.id">
          {{billingCompany.name}}
        </md-option>
      </md-select>

    </md-card>
  </div>

  <button type="submit" md-raised-button color="primary">{{i18n.uiShared.SAVE}}</button>
</form>
